<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.xin.router.demo">


    <application
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Base.V7.Theme.AppCompat.Light"
            android:icon="@mipmap/ic_launcher" android:allowBackup="true" android:fullBackupContent="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.xin.router.demo.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
    </application>
</manifest>